<a href="https://colab.research.google.com/github/nagasai17/Tarp-project/blob/master/review2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data=pd.read_excel('/content/New Microsoft Excel Worksheet.xlsx')
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
data

        NAME  Age Highest Degree  ... negotiations Design and planning       Sector
0       naga   20           MBBS  ...           NO                  NO       Health
1       hari   22          BTECH  ...           NO                  NO           IT
2       teja   23           MBBS  ...           NO                  NO       Health
3       ravi   21           12th  ...           NO                  NO         ARTS
4    hrithik   20           11th  ...           NO                  NO         ARTS
..       ...  ...            ...  ...          ...                 ...          ...
104     kule   12          BTECH  ...           NO                  NO           IT
105      max   23           BCOM  ...           NO                  NO      FINANCE
106      mas   24           BCOM  ...           NO                  NO      FINANCE
107      asa   42           10th  ...          YES                 YES  MANUFACTURE
108    james   43           10th  ...          YES                 YES  MANUFACTURE

[109 rows x 11 columns]

Encoding means coverting all categorical to Numerical

In [4]:

# Categorical boolean mask
categorical_feature_mask = data.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = data.columns[categorical_feature_mask].tolist()
le = LabelEncoder()
data[categorical_cols] = data[categorical_cols].apply(lambda col: le.fit_transform(col))
data[categorical_cols].head(10)

   NAME  Highest Degree  English   ...  negotiations  Design and planning  Sector
0    58               5         1  ...             0                    0       3
1    21               4         1  ...             0                    0       4
2   100               5         1  ...             0                    0       3
3    79               2         1  ...             0                    0       0
4    25               1         0  ...             0                    0       0
5     2               5         1  ...             0                    0       3
6    72               4         1  ...             1                    1       5
7    53               4         1  ...             0                    0       2
8    90               5         1  ...             0                    0       3
9    67               4         0  ...             1                    1       5

[10 rows x 10 columns]

One hot encoder

In [5]:
X = data[data.columns[2:-1]] 
y = data[data.columns[-1]] 
print(X)
print(y)

     Highest Degree  English   ...  negotiations  Design and planning
0                 5         1  ...             0                    0
1                 4         1  ...             0                    0
2                 5         1  ...             0                    0
3                 2         1  ...             0                    0
4                 1         0  ...             0                    0
..              ...       ...  ...           ...                  ...
104               4         1  ...             0                    0
105               3         1  ...             0                    0
106               3         1  ...             0                    0
107               0         1  ...             1                    1
108               0         0  ...             1                    1

[109 rows x 8 columns]
0      3
1      4
2      3
3      0
4      0
      ..
104    4
105    2
106    2
107    5
108    5
Name: Sector, Length: 109, dtype: int64

splitting our data set

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
y

(65, 8)
(44, 8)
(65,)
(44,)

0      3
1      4
2      3
3      0
4      0
      ..
104    4
105    2
106    2
107    5
108    5
Name: Sector, Length: 109, dtype: int64

Encoding

    Highest Degree  English   ...  negotiations  Design and planning
0                4         1  ...             0                    0
1                3         1  ...             0                    0
2                4         1  ...             0                    0
3                2         1  ...             0                    0
4                1         0  ...             0                    0
5                4         1  ...             0                    0
6                3         1  ...             1                    1
7                3         1  ...             0                    0
8                4         1  ...             0                    0
9                3         0  ...             1                    1
10               3         0  ...             0                    0
11               0         1  ...             1                    1
12               4         0  ...             0                    1
13               3         1  ...             0                    0
14               3         1  ...             0                    0
15               4         1  ...             0                    0
16               3         0  ...             0                    0
17               0         0  ...             1                    1

[18 rows x 8 columns]

Desicion Tree classifier

In [16]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

*accuracy* for Decision Tree Classifier

In [17]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
y_pred

Accuracy: 0.9545454545454546

array([0, 0, 0, 0, 3, 2, 0, 2, 1, 2, 2, 3, 0, 0, 2, 0, 5, 5, 2, 2, 5, 3,
       2, 5, 4, 4, 0, 0, 4, 2, 2, 4, 0, 4, 2, 3, 4, 4, 5, 0, 2, 5, 2, 1])

Multinomial Naive Baiyes

In [18]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_predwithnaive = gnb.predict(X_test)
y_predwithnaive

array([0, 0, 0, 0, 3, 2, 0, 2, 1, 2, 2, 1, 0, 0, 2, 0, 5, 2, 2, 2, 5, 1,
       2, 5, 4, 4, 0, 0, 4, 2, 2, 4, 0, 4, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])

accuracy for naive bayes

In [19]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithnaive))
y_predwithnaive

Accuracy: 0.9318181818181818

array([0, 0, 0, 0, 3, 2, 0, 2, 1, 2, 2, 1, 0, 0, 2, 0, 5, 2, 2, 2, 5, 1,
       2, 5, 4, 4, 0, 0, 4, 2, 2, 4, 0, 4, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])

Knn classifier

In [33]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=6)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_predwithknn = knn.predict(X_test)
y_predwithknn

array([1, 0, 0, 0, 3, 2, 1, 2, 1, 2, 2, 3, 1, 0, 2, 1, 5, 0, 2, 2, 5, 3,
       2, 5, 4, 4, 1, 0, 4, 2, 2, 4, 0, 4, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])

Accuracy with knn classifier

In [34]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithknn))
y_predwithknn

Accuracy: 0.8863636363636364

array([1, 0, 0, 0, 3, 2, 1, 2, 1, 2, 2, 3, 1, 0, 2, 1, 5, 0, 2, 2, 5, 3,
       2, 5, 4, 4, 1, 0, 4, 2, 2, 4, 0, 4, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])

Random forest classifier

In [56]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
rand=RandomForestClassifier(n_estimators=20)

#Train the model using the training sets y_pred=clf.predict(X_test)
rand.fit(X_train,y_train)

y_predwithrand=rand.predict(X_test)
y_predwithrand

array([0, 0, 0, 0, 3, 2, 0, 2, 1, 2, 2, 3, 0, 0, 2, 0, 5, 2, 2, 2, 5, 3,
       2, 5, 4, 4, 0, 0, 4, 2, 2, 4, 0, 2, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])

In [58]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithrand))
y_predwithrand

Accuracy: 0.9545454545454546

array([0, 0, 0, 0, 3, 2, 0, 2, 1, 2, 2, 3, 0, 0, 2, 0, 5, 2, 2, 2, 5, 3,
       2, 5, 4, 4, 0, 0, 4, 2, 2, 4, 0, 2, 2, 3, 4, 4, 5, 0, 2, 5, 5, 1])