<a href="https://colab.research.google.com/github/nagasai17/Tarp-project/blob/master/updatedreview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data=pd.read_excel('/content/Merged_2.xlsx')
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
data

                NAME  Age  ... Design and planning       Sector
0               naga   20  ...                  NO       Health
1               hari   22  ...                  NO           IT
2               teja   23  ...                  NO       Health
3               ravi   21  ...                  NO         ARTS
4            hrithik   20  ...                  NO         ARTS
..               ...  ...  ...                 ...          ...
304    Varun Krishna   39  ...                  NO      FINANCE
305           Deepak   37  ...                  NO       Health
306     Rajesh Sahni   27  ...                  NO       Health
307        Tejaswini   23  ...                  NO         ARTS
308  Komal Vaishnavi   28  ...                 YES  MANUFACTURE

[309 rows x 11 columns]

Encoding means coverting all categorical to Numerical

In [3]:

# Categorical boolean mask
categorical_feature_mask = data.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = data.columns[categorical_feature_mask].tolist()
le = LabelEncoder()
data[categorical_cols] = data[categorical_cols].apply(lambda col: le.fit_transform(col))
data[categorical_cols].head(10)

   NAME  Highest Degree  English   ...  negotiations  Design and planning  Sector
0   252               5         1  ...             0                    0       3
1   215               4         1  ...             0                    0       4
2   294               5         1  ...             0                    0       3
3   273               2         1  ...             0                    0       0
4   219               1         0  ...             0                    0       0
5   196               5         1  ...             0                    0       3
6   266               4         1  ...             1                    1       5
7   247               4         1  ...             0                    0       2
8   284               5         1  ...             0                    0       3
9   261               4         0  ...             1                    1       5

[10 rows x 10 columns]

One hot encoder

In [4]:
X = data[data.columns[2:-1]] 
y = data[data.columns[-1]] 
print(X)
print(y)

     Highest Degree  English   ...  negotiations  Design and planning
0                 5         1  ...             0                    0
1                 4         1  ...             0                    0
2                 5         1  ...             0                    0
3                 2         1  ...             0                    0
4                 1         0  ...             0                    0
..              ...       ...  ...           ...                  ...
304               3         0  ...             0                    0
305               5         0  ...             0                    0
306               5         0  ...             0                    0
307               2         1  ...             0                    0
308               4         1  ...             1                    1

[309 rows x 8 columns]
0      3
1      4
2      3
3      0
4      0
      ..
304    2
305    3
306    3
307    0
308    5
Name: Sector, Length: 309, dtype: int64

splitting our data set

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
y

(185, 8)
(124, 8)
(185,)
(124,)

0      3
1      4
2      3
3      0
4      0
      ..
304    2
305    3
306    3
307    0
308    5
Name: Sector, Length: 309, dtype: int64

Encoding

    Highest Degree  English   ...  negotiations  Design and planning
0                4         1  ...             0                    0
1                3         1  ...             0                    0
2                4         1  ...             0                    0
3                2         1  ...             0                    0
4                1         0  ...             0                    0
5                4         1  ...             0                    0
6                3         1  ...             1                    1
7                3         1  ...             0                    0
8                4         1  ...             0                    0
9                3         0  ...             1                    1
10               3         0  ...             0                    0
11               0         1  ...             1                    1
12               4         0  ...             0                    1
13               3         1  ...             0                    0
14               3         1  ...             0                    0
15               4         1  ...             0                    0
16               3         0  ...             0                    0
17               0         0  ...             1                    1

[18 rows x 8 columns]

Desicion Tree classifier

In [6]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

*accuracy* for Decision Tree Classifier

In [7]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
y_pred

Accuracy: 0.9758064516129032

array([5, 4, 2, 2, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 3, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 3, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 2, 0, 0, 3, 0, 0, 3, 1, 5, 0, 0, 2, 2, 3, 0, 3, 3, 2,
       4, 5, 3, 5, 0, 0, 3, 4, 0, 2, 1, 2, 3, 5, 4, 1, 2, 0, 4, 0, 1, 3,
       2, 4, 0, 0, 2, 2, 3, 4, 5, 3, 0, 5, 3, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 3, 5, 5, 1, 5, 3, 3, 3, 3, 4, 3, 5])

Multinomial Naive Baiyes

In [8]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_predwithnaive = gnb.predict(X_test)
y_predwithnaive

array([5, 4, 2, 0, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 0, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 0, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 4, 0, 0, 0, 0, 0, 0, 1, 5, 0, 0, 2, 2, 0, 0, 3, 1, 2,
       4, 5, 0, 5, 0, 0, 3, 4, 0, 2, 1, 0, 0, 5, 4, 1, 2, 0, 4, 0, 1, 0,
       2, 4, 0, 0, 2, 2, 0, 4, 5, 0, 0, 5, 0, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 1, 5, 5, 1, 5, 0, 3, 1, 3, 4, 1, 5])

accuracy for naive bayes

In [9]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithnaive))
y_predwithnaive

Accuracy: 0.8548387096774194

array([5, 4, 2, 0, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 0, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 0, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 4, 0, 0, 0, 0, 0, 0, 1, 5, 0, 0, 2, 2, 0, 0, 3, 1, 2,
       4, 5, 0, 5, 0, 0, 3, 4, 0, 2, 1, 0, 0, 5, 4, 1, 2, 0, 4, 0, 1, 0,
       2, 4, 0, 0, 2, 2, 0, 4, 5, 0, 0, 5, 0, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 1, 5, 5, 1, 5, 0, 3, 1, 3, 4, 1, 5])

Knn classifier

In [33]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=2)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_predwithknn = knn.predict(X_test)
y_predwithknn

array([5, 4, 2, 2, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 3, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 3, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 2, 0, 0, 3, 0, 0, 0, 1, 5, 0, 0, 2, 2, 3, 0, 3, 3, 2,
       4, 5, 0, 5, 0, 0, 3, 4, 0, 2, 1, 2, 3, 5, 4, 1, 2, 0, 4, 0, 1, 3,
       2, 4, 0, 0, 2, 2, 0, 4, 5, 3, 0, 5, 3, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 3, 5, 5, 1, 5, 3, 3, 3, 3, 4, 3, 5])

Accuracy with knn classifier

In [34]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithknn))
y_predwithknn

Accuracy: 0.9516129032258065

array([5, 4, 2, 2, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 3, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 3, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 2, 0, 0, 3, 0, 0, 0, 1, 5, 0, 0, 2, 2, 3, 0, 3, 3, 2,
       4, 5, 0, 5, 0, 0, 3, 4, 0, 2, 1, 2, 3, 5, 4, 1, 2, 0, 4, 0, 1, 3,
       2, 4, 0, 0, 2, 2, 0, 4, 5, 3, 0, 5, 3, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 3, 5, 5, 1, 5, 3, 3, 3, 3, 4, 3, 5])

Random forest classifier

In [18]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
rand=RandomForestClassifier(n_estimators=20)

#Train the model using the training sets y_pred=clf.predict(X_test)
rand.fit(X_train,y_train)

y_predwithrand=rand.predict(X_test)
y_predwithrand

array([5, 4, 2, 2, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 3, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 3, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 2, 0, 0, 3, 0, 0, 3, 1, 5, 0, 0, 2, 2, 3, 0, 3, 3, 2,
       4, 5, 3, 5, 0, 0, 3, 4, 0, 2, 1, 0, 3, 5, 4, 1, 2, 0, 4, 0, 1, 3,
       2, 4, 0, 0, 2, 2, 3, 4, 5, 3, 0, 5, 3, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 3, 5, 5, 1, 5, 3, 3, 3, 3, 4, 3, 5])

In [19]:
print("Accuracy:",metrics.accuracy_score(y_test, y_predwithrand))
y_predwithrand

Accuracy: 0.9838709677419355

array([5, 4, 2, 2, 0, 0, 3, 1, 1, 1, 4, 5, 5, 2, 0, 1, 2, 4, 1, 3, 4, 5,
       3, 0, 5, 0, 0, 3, 0, 5, 3, 3, 4, 2, 4, 1, 4, 5, 0, 3, 2, 0, 5, 2,
       2, 0, 3, 4, 2, 0, 0, 3, 0, 0, 3, 1, 5, 0, 0, 2, 2, 3, 0, 3, 3, 2,
       4, 5, 3, 5, 0, 0, 3, 4, 0, 2, 1, 0, 3, 5, 4, 1, 2, 0, 4, 0, 1, 3,
       2, 4, 0, 0, 2, 2, 3, 4, 5, 3, 0, 5, 3, 2, 5, 3, 4, 0, 2, 4, 0, 0,
       2, 4, 3, 5, 5, 1, 5, 3, 3, 3, 3, 4, 3, 5])